body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    /* to avoid scrollbars */
    
    min-width: 550px;
    -webkit-font-smoothing: antialiased;
    scrollbar-track-color: #000;
    scrollbar-face-color: rgba(49, 48, 43, 0.75);
    scrollbar-highlight-color: rgba(49, 48, 43, 0.75);
    scrollbar-shadow-color: rgba(49, 48, 43, 0.75)
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #000
}

::-webkit-scrollbar-thumb {
    background-color: rgba(49, 48, 43, 0.75);
    border-radius: 10px
}

ul::-webkit-scrollbar {
    width: 5px;
    background-color: #000
}

ul {
    scrollbar-track-color: #000;
    scrollbar-face-color: rgba(49, 48, 43, 0.75);
    scrollbar-highlight-color: rgba(49, 48, 43, 0.75);
    scrollbar-shadow-color: rgba(49, 48, 43, 0.75)
}

@font-face {
    font-family: NanumGothic;
    src: local(NanumGothic), local(NanumGothic), url(fonts/NanumGothic-Regular.ttf)
}

@font-face {
    font-family: NotoSansKR;
    src: local(Noto Sans CJK KR), local(Noto Sans CJK), url(fonts/NotoSansKR-Light.otf)
}

@font-face {
    font-family: NotoSans;
    src: local(Noto Sans), url(fonts/NotoSans-Regular.ttf)
}

@font-face {
    font-family: TitilliumThin;
    src: local(Titillium Web), url(fonts/TitilliumWeb-ExtraLight.ttf)
}

@font-face {
    font-family: hvgafix;
    src: local(hvgafix), url(fonts/hvgafix.fon)
}

* {
    font-family: NanumGothic, NotoSans, NotoSansKR, "Segoe UI", "Helvetica Neue";
    margin: 0;
    padding: 0
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.canvas {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    padding: 180px 0 0 0;
    background: #000 url(img/home.jpg) no-repeat center 2px;
    background-size: 100% auto;
}

.main-bg {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #31302B;
}

.main-content {
    padding-bottom: 100px;
}

.main-content p,
li,
table {
    color: floralwhite;
}

.modal-body li {
    color: black;
}

.video {
    margin-bottom: 20px;
}

.tooltip {
    opacity: 1;
}

table {
    width: 80%;
}

.desc {
    margin-top: 20px;
}

#codearea {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    resize: none;
}

@media (max-width: 991px) {
    .main-bg {
        margin-top: 50px;
    }
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #31302B;
    min-width: 550px;
    height: 75px;
    padding-top: 12px;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-toggle {
    display: block;
    /* force showing the toggle */
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navmenu {
    z-index: 1;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navmenu-nav {
    margin-top: 180px;
}

.tab-content {
    min-height: 300px;
    border: 1px solid #31302B;
    padding: 10px;
    margin: 0 15px;
}

.tab-content h3 {
    margin-top:0;
}

.tab-pane {
    color:floralwhite;
}



.navbar-toggle {
    z-index: 1;
}

#home {
    position: absolute;
    left: 0;
    right: 0;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-indent: -10000px;
    width: 330px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-right {
    margin-top: 15px;
}

@media (max-width: 767px) {
    .navbar-right {
        margin-top: 13px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
    height: 500px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
/* Featurettes
------------------------- */

.featurette {
    padding-left: 10px;
    padding-right: 10px;
}

.featurette-divider {
    margin: 85px 0;
    border-top: 1px solid #31302B;
    /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
    color: #C7A94F;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.lead {
    color: #6dc0cd;
    font-size: 24px;
    text-indent: 10px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 70px;
        margin-bottom: 20px;
    }
    .canvas {
        padding: 150px 0 0 0;
    }
}

@media (max-width:991px) {
    .nav-stacked {
        padding: 10px 0 20px 0;
    }
}
/* Bootstrap Override
-------------------------------------------------- */

.screen {
    overflow-y: auto !important;
    padding-right: 0px !important;
}

.lead {
    text-indent:0;
}

.modal {
    padding-right: 0px !important;
}

.navmenu-default,
.navbar-default .navbar-offcanvas {
    background-color: #000;
    border-color: #555;
}

.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navmenu-default .navmenu-nav>li>a,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a {
    color: #B29F69;
}

.navmenu-default .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
    color: #222;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: -webkit-linear-gradient(left, rgba(25, 85, 130, 0), rgba(25, 85, 130, 1));
    /*Safari*/
    
    background: -o-linear-gradient(left, rgba(25, 85, 130, 0), rgba(25, 85, 130, 1));
    /*Opera 11-12*/
    
    background: -moz-linear-gradient(left, rgba(25, 85, 130, 0), rgba(25, 85, 130, 1));
    /*Fx 3.6-15*/
    
    background: linear-gradient(to left, rgba(25, 85, 130, 0), rgba(25, 85, 130, 1));
    /*Standard*/
    
    color: #eee;
    text-decoration: none
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    background: -moz-linear-gradient(left, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(240, 240, 240, 0)));
    background: -webkit-linear-gradient(left, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0) 100%);
    background: -o-linear-gradient(left, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0) 100%);
    background: -ms-linear-gradient(left, rgba(240, 240, 240, 1) 0%, rgba(240, 240, 240, 0) 100%);
    background: linear-gradient(to right, rgb(240, 240, 240) 0%, rgba(240, 240, 240, 0) 100%);
    color: #222;
}

.nav-pills>li>a {
    background: -moz-linear-gradient(left, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50, 50, 50, 1)), color-stop(100%, rgba(50, 50, 50, 0)));
    background: -webkit-linear-gradient(left, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
    background: -o-linear-gradient(left, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
    background: -ms-linear-gradient(left, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
    background: linear-gradient(to right, rgba(50, 50, 50, 1) 0%, rgba(50, 50, 50, 0) 100%);
    color: #aaa;
}



progress {
    width:1035px;
    height:3px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    -webkit-appearance:none;
    border:none
}

progress::-webkit-progress-bar {
    background:transparent
}

progress::-webkit-progress-value {
    background:transparent;
    background-repeat:no-repeat;
    background-image:url(img/progress.gif);
    -webkit-animation:move 3s linear 0 infinite;
    animation:move 3s linear 0 infinite
}

progress::-moz-progress-bar {
    background:transparent;
    background-repeat:no-repeat;
    background-image:url(img/progress.gif);
    -webkit-animation:move 3s linear 0 infinite;
    animation:move 3s linear 0 infinite
}