---
layout: default
---
    <div class="training-content">
        <div class="trWrap" id="trainingWrap"></div>

        <script src="../training.js"></script>
        <script src="../{{ page.job }}/category_data_{{ page.job }}.js"></script>
        <script src="../{{ page.job }}/slot_data_{{ page.job }}.js"></script>
        <script src="../{{ page.job }}/skill_data_{{ page.job }}.js"></script>
        <script src="../{{ page.job }}/data_skill-tooltip_{{ page.job }}.js"></script>
        <script src="../data_skill-tooltip-attribute.js"></script>

        <script type="text/javascript">
            var _training;

            (function ($) {
                $(document).ready(function () {
                    if (String.prototype.trim == null)
                        String.prototype.trim = function () {
                            return this.replace(/^\s*/, "").replace(/\s*$/, "");
                        }

                    _training = new nc.bns.training.Training({
                        containerSelector: ".trWrap",
                        level: 50,
                        masteryLevel: 12,
                        job: "{{ page.job }}",
                        masteryTitle: "Divine Level ",
                        maxLevel: 50
                    });

                    //reset button
                    var _$resetSkillBtn = $("#resetSkill");
                    var _$resetAllSkillBtn = $("#resetAllSkill");
                });
            })(jQuery);
        </script>
    </div>
    
    <div class="main-bg">
        <div class="container main-content">

            
            
            <hr class="featurette-divider">
                

        </div>
        <!-- /.container -->
    </div>

